.productList {
  flex: 4;
  padding: 20px;
}

.productListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.productListTitle {
  margin: 0;
}

.productListAddButton {
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: teal;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.productListTable {
  height: 400px;
  width: 100%;
}

.productListItem {
  display: flex;
  align-items: center;
}
.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.productListEdit {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #3bb077;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}
.productListDelete {
  color: red;
  cursor: pointer;
}
